<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\nlog-internal-brokercontadortransbordo.log">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Targets.ElasticSearch"/>
  </extensions>
  <variable name="Origem" value="Broker-Contador-Transbordo" />
  <variable name="Ambiente" value="${configsetting:name=Ambiente}" />
  <targets async="true">
    <target xsi:type="Console" name="console" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}|${machinename}|${level:uppercase=true}|${logger}|${message}|${exception:format=toString}"/>
    <target xsi:type="Database" name="asyncDatabase" dbProvider="System.Data.SqlClient"
        connectionString="${configsetting:name=ConnectionStrings.Log}"
        commandText="INSERT INTO Aspv4.Log (Date,Thread,Level,Logger,Message,Exception,HostName) VALUES (@data, @threadID, @level,@logger, @message, @exception,@hostname)">
      <parameter name="@data" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}"/>
      <parameter name="@threadID" layout="${threadid}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@logger" layout="Broker-Contador-Transbordo" />
      <parameter name="@message" layout="${message}" size="8000"/>
      <parameter name="@exception" layout="${exception:format=toString}" size="8000" />
      <parameter name="@hostname" layout="${machinename}" />
    </target>
    <target
      xsi:type="ElasticSearch"
      name="elasticContador"
      index="motor_contador_transbordo_metricas_${date:format=yyyy.MM.dd}"
      uri="${configsetting:name=ConnectionStrings.Elastic}"
      includeAllProperties="true"
	  documentType="">
      <field name="Origem" layout="${var:Origem}" layoutType="System.String"/>
      <field name="Hostname" layout="${machinename}" layoutType="System.String"/>
      <field name="timestamp" layout="${date:format=o}" />
      <field name="Message" layout="${message:raw=true}"/>
      <field name="Ambiente" layout="${var:Ambiente}" layoutType="System.String"/>
    </target>
    <target xsi:type="OutputDebugString" name="ods" layout="${date:format=o}|${pad:padding=-6:inner=${level:uppercase=true}}|${logger}|${message}|${exception:format=toString}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="console,ods" />
    <logger name="*" minlevel="Warn" writeTo="asyncDatabase" />
    <logger name="ElasticContador" minlevel="Info" writeTo="elasticContador" final="true"/>
  </rules>
</nlog>